/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { font: 16px/1.4em 'Source Sans Pro', Arial, Helvetica, Geneva, sans-serif; font-weight: 400; color: #222; }
header { background: url('../img/header_default_3.jpg') no-repeat; position: relative; box-shadow: 0 -3px 5px #555 inset; }
header.single { background-position: center bottom; height: 100px; box-shadow: 0 4px 7px #ccc; }

.main-nav { margin: 5px 0 0; padding: 0; text-align: right; }
.main-nav li { display: inline-block; list-style: none; margin: 0 8px; }
.main-nav li a { display: inline-block; color: #fff; height: 20px; text-decoration: none; text-shadow: 0 1px 1px #000;  }

.auth { list-style: none; margin: 10px 6px 0 0; padding: 0; text-align: right; }
.auth li { display: inline-block; margin: 0 2px 0 0; font-style: italic; }
.auth li a { text-shadow: #7D7D7D 1px 1px 1px; color: #000; font-size: 10px; text-transform: uppercase; font-weight: 600; text-decoration: none; font-style: normal; }

h1 { font: 48px/57px 'Source Sans Pro', Arial, Helvetica, Geneva, sans-serif; margin: 0 0 0.25em; font-weight: 600; line-height: 1.25em; color: #444; }
.single h1 { text-shadow: 0 1px 0 #fff; }
h1.slogan { color: #fff; text-shadow: 0 1px 1px #000; margin: 0.9em 0.25em 0; font-weight: 500; }
h1.slogan span { color: #FFCC1D; }
h2 { font-size: 25px; margin: 0.4em 0 1em; font-weight: 400; text-transform: uppercase; line-height: 1.25em; }
h2 span { text-transform: none; display: block; color: #999; font-size: 16px; font-style: italic; }
.h1-desc { font: 22px/1.45em 'Source Sans Pro', Arial, Helvetica, Geneva, sans-serif; color: #fff; text-shadow: 0 1px 1px #000; margin: 1.2em 0.8em; font-weight: 300; }
h3.title { font-weight: 600; text-transform: uppercase; font-size: 20px; margin: 0 0 1em; text-shadow: 0 1px 0 #fff; }

footer { background: url('../img/footer_bg.jpg'); color: #8C8C8C; }
footer h3 { font-size: 14px; color: #fff; margin: 0 0 4.5em 0; text-transform: uppercase; }
footer .container_12 { padding: 25px 0 0; }
.footer-inner { background: url('../img/footer_bg_top.jpg') 0 0 repeat-x; }

footer .menu { list-style: none; margin: 0; padding: 0; }
footer .menu li a { color: #fff; text-decoration: none; font-size: 14px; line-height: 1.4em; display: inline-block; margin-bottom: 0.75em; }
footer .menu li a:hover { color: #F6C20F; }
footer .menu-container { font-size: 14px; } 
footer .copyright { margin: 3.5em 0 0; padding: 1.5em 0; border-top: 1px solid #222; }

p.copy { font-size: 13px; float: left; margin: 0.1em 2em 0 0; }
.piped { display: block; zoom: 1; list-style: none outside; margin: 0; padding: 0; }
.piped::after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.piped li { float: left; display: inline; line-height: 1.4em; }
.piped a { padding: 0 0 0 0.75em; margin-left: 0.75em; border-left: 1px solid #222; color: #ccc; font-size: 12px; line-height: 1em; text-decoration: none; }
.piped a.first { border-left: 0 !important; padding-left: 0; margin-left: 0 !important; }

#main { padding: 1em 0 2.5em; padding: 2em 0 5em; }
#main.single { background: url(https://d3dma7a8zw52bz.cloudfront.net/assets/wallpapers/paper-c6ac1a36a1a244825bfdacdfc86e4aa6.jpg) #F5EFE6; }
#main p { color: #222; margin-bottom: 1.4em; line-height: 1.6em; }
#main .iframe-wrapper { background: url('../img/iframe_bg.png') center bottom no-repeat; padding: 0 0 8px; margin: 1em 0 0; }
#main .framed { display: inline-block; border: 1px solid #ccc; border-radius: 2px; background: #fafafa; }
#main iframe { padding: 10px; border: 1px solid #e7e7e7; background: #fff; box-shadow: 0 0 7px #e0e0e0; }
#main .link-more { text-decoration: none; color: #222; border-bottom: 1px solid #9CF; font-weight: 600; 
	/*color: #E8B507; font-style: italic; text-decoration: none; font-size: 13px; margin: -0.5em 0 0; display: block;*/
}
#main .decision { display: inline-block; margin: 0 0.5em; }
#main .block-separator { height: 1px; background: #e0e0e0; margin: 3em 0; }
#main a { text-decoration: none; }

.btn-submit { display: inline-block; background: #557494; text-decoration: none; border-radius: 3px; width: 200px; height: 40px; line-height: 40px; margin: 10px 0; border: none !important; text-transform: uppercase; text-align: center; background: #767676; color: #fff; font-weight: 400;  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.19); text-shadow: 0 1px 1px rgba(0, 0, 0, .2); border-radius: 100px; }
#main a.btn-submit { color: #fff; }
#main .steps { font-size: 24px; line-height: 130%; font-weight: 300; }

.slide h1 { margin-bottom: 30px; }
.slide .btn-submit { margin: 10px 0 30px 18px; background: #FFCC1D; color: #111; text-shadow: none; border-radius: 100px; }
.btn-comment { text-transform: none; font-style: italic; }

.visuallyhidden { border: 0; margin: 0 -1px -1px 0; clip: rect(0 0 0 0); overflow: hidden; padding: 0; width: 1px; height: 1px; position: absolute; }


/* Forms */
form { margin: 0; background: #fafafa; border: 1px solid #e5e5e5; padding: 10px 10px 10px 20px; }
label { display: block; margin-bottom: 4px; margin-top: 12px; color: #111; font-size: 12px; font-weight: bold; padding-left: 3px; font-family: 'Open Sans Condensed', sans-serif; text-transform: uppercase; font-weight: normal; font-size: 14px; color: #000; }
input[type="text"], input[type="password"] { width: 180px; margin-left: 0; margin-right: 0; border: 1px solid #777; box-shadow: inset 1px 1px 2px 1px #CCC; padding: 10px; font-size: 13px; background: #fff; }
select { border: 1px solid #777; box-shadow: inset 1px 1px 2px 1px #CCC; padding: 9px; font-size: 13px; background: #fff; min-width: 110px; margin: 0 2px; }
input[type="radio"] { margin: 7px 5px; }

#account-setup a { color: #15C; }
#account-setup p { font-size: 14px; line-height: 17px; margin-top: 5px; }

.form-selector { margin: 0; padding: 0; }
.form-selector li { display: inline-block; margin: 0 10px 0 0; }
.form-selector li a { color: #444; display: block; padding: 7px 16px; border-radius: 3px; -moz-outline-radius: 5px; }
.form-selector li.active a { background: #767676; color: #fff; font-weight: 400; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.19); font-style: italic; }

#property_mls { width: 580px; }
select.tall { width: 191px; }
form .btn-submit { background: #FFCC1D; color: #333; text-shadow: none; font-weight: normal; font-size: 16px; padding: 0 25px; width: auto; border-radius: 3px; margin: 0; }
.form-signup .btn-submit { background: #C7C7C7; color: #333; text-shadow: none; font-weight: normal; font-size: 16px; padding: 0 25px; width: auto; border-radius: 3px; margin: 0; }
.form-signup .btn-group { margin: 15px 0 20px; }

.how-steps { list-style: none; margin: 0; padding: 0; }
.how-steps li { font-size: 18px; line-height: 130%; font-weight: 300; margin-bottom: 0.5em; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

p[data-class="homeowner"]{display: none;}